@import 'leaflet/dist/leaflet.css';

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background-color: cornsilk;
    color: #000;
}

.map {
    display: inline-block;
    height: 40rem;
    width: 89%;
    margin-top: 1rem;
    margin-bottom: 2rem; 
    border-radius: 8px;
}