body {
    background-color: #133667;
    color: white;
    text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px
}

.Results {
  background-color: white;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.snow{
  background: url(../src/assets/Snow.gif);
}

.rain{
  background: url(../src/assets/Rain.gif);
}
.drizzle{
  background: url(../src/assets/Drizzle.gif);
}
.thunderstorm{
  background: url(../src/assets/Thunderstorm.gif);
}
.clouds{
  background: url(../src/assets/Clouds.gif);
 
}
.weather::before{
  background-color: rgba(0, 0, 0, 0.17);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip{
  background-color: red;
  color: white;
}