body {
    background-color: #133667;
    color: white;
    text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px
}

.Results {
  background-color: white;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip{
  background-color: red;
  color: white;
}


.Items-to-bring{
  margin-left: 150px;
  margin-top: 20px;
  border-radius: 8px;
  margin-right: 150px;
  background-color: rgba(64, 65, 70, 0.63);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Items-box{
  display: flex;
  justify-content: center;
  height: 150px;
  }

.item {
  margin: 20px;
} 

